QWidget { font: 20px; } 
QMenu::item { font: bold 20px; } 
QMenu {font: bold 20px; } 
QToolTip { font: 20px; } 
QLabel { font: 20px; } 
QString { font: 20px; } 
QToolBar { background-color: #000000; border:0px; } 
QToolButton:!hover { border:0px; padding:2px; }
QToolButton#qt_toolbar_ext_button { background-color: white; }
QComboBox#overlayModalityCmb { font: 35px; }
QToolButton:checked { background-color: #FFFFFF; padding: 2px; border:0px; }
QToolButton:pressed { background-color: black; }
QToolButton{ color: white; } 
QToolButton::menu-indicator { left: -1px; top: 1px; }
QToolButton::hover { background-color: grey; }
QPushButton#movieButton:checked { background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 lightblue, stop:1 darkblue); border-radius: 3px; }

QMenuBar { font: bold 20px; background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 lightgray, stop:1 darkgray); background:#000000; color:#FFFFFF;} 
QMenuBar::item {spacing: 3px; /* spacing between menu bar items */padding: 1px 4px;background: transparent;	border-radius: 4px;} 
QMenuBar::item:selected { /* when selected using mouse or keyboard */background: #a8a8a8;} 
QMenuBar::item:pressed { background: #888888;} 

QCheckBox::indicator:checked { image: url(:/images/gray/overlay/cb_checked.png); }
QCheckBox::indicator:unchecked { image: url(:/images/gray/overlay/cb_unchecked.png); }